schema/AB.Items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://ab.report/schema/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sql="urn:schemas-microsoft-com:mapping-schema" xmlns="http://ab.report/schema/v1">
	<xs:element name="Items">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="ItemType">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ItemType" sql:table="commodities" sql:key-fields="com_id">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" sql:field="com_name" />
		</xs:sequence>
		<xs:attribute use="required" name="id" type="xs:unsignedShort" sql:field="com_id" />
		<xs:attribute use="optional" name="code" type="xs:string" sql:field="com_code" />
		<xs:attribute use="optional" name="type" sql:field="com_type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="C">
						<xs:annotation>
							<xs:documentation xml:lang='en'>Commodity type</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="S">
						<xs:annotation>
							<xs:documentation xml:lang='en'>Service type</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="A">
						<xs:annotation>
							<xs:documentation xml:lang='en'>Fixed Assets type</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="F">
						<xs:annotation>
							<xs:documentation xml:lang='en'>Financial Instruments</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="N">
						<xs:annotation>
							<xs:documentation xml:lang='en'>Non-financial indicators </xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>