schema/AB.RCenters.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://ab.report/schema/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sql="urn:schemas-microsoft-com:mapping-schema" xmlns="http://ab.report/schema/v1">
	<xs:element name="FinancialStructure">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="RCenter" type="RCenterType">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RCenterType" sql:table="finstruct">
		<xs:sequence>
			<xs:element name="Name" sql:field="frc_name" type="xs:string">
                <xs:annotation>
                	<xs:documentation>Название ЦФО</xs:documentation>
                </xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute use="required" name="id" type="xs:int" sql:field="frc_id"/>
	</xs:complexType>

</xs:schema>