schema/AB.UoM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://ab.report/schema/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sql="urn:schemas-microsoft-com:mapping-schema" xmlns="http://ab.report/schema/v1">
	<xs:element name="UnitsOfMeasurement">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="UoM" type="UoMType">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="UoMType" sql:table="item_measures" sql:key-fields="uom_id">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" sql:field="uom_name"/>
		</xs:sequence>
		<xs:attribute use="required" name="id" type="xs:unsignedByte" sql:field="uom_id"/>
	</xs:complexType>
</xs:schema>