schema/atom_entry.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://www.w3.org/2005/Atom" elementFormDefault="qualified" 
	attributeFormDefault="unqualified"
	xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>
			This version of the Atom schema is based on version 1.0 of the format specifications,
			found here http://www.atomenabled.org/developers/syndication/atom-format-spec.php.
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

	<xs:annotation>
		<xs:documentation> An Atom document may have two root elements, feed and entry, as defined in section 2. </xs:documentation>
	</xs:annotation>

	<xs:element type="atom:feedType" name="feed"/>
	<xs:element type="atom:entryType" name="entry"/>

	<xs:complexType name="feedType">
		<xs:annotation>
			<xs:documentation> The Atom feed restricted to atom:entryType. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!--xs:element type="atom:personType" name="author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element type="atom:categoryType" name="category" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element type="atom:personType" name="contributor" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element type="atom:generatorType" name="generator" minOccurs="0" maxOccurs="1"/>
			<xs:element type="atom:iconType" name="icon" minOccurs="0" maxOccurs="1"/>
			<xs:element type="atom:idType" name="id" minOccurs="1" maxOccurs="1"/>
			<xs:element type="atom:linkType" name="link" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element type="atom:logoType" name="logo" minOccurs="0" maxOccurs="1"/>
			<xs:element type="atom:textType" name="rights" minOccurs="0" maxOccurs="1"/>
			<xs:element type="atom:textType" name="subtitle" minOccurs="0" maxOccurs="1"/>
			<xs:element type="atom:textType" name="title" minOccurs="1" maxOccurs="1"/>
			<xs:element type="atom:dateTimeType" name="updated" minOccurs="1" maxOccurs="1"/-->
			<xs:element type="atom:entryType" name="entry" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Individual entry, acting as a container for metadata and data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="entryType">
		<xs:annotation>
			<xs:documentation>
				The Atom entry construct is defined in section 4.1.2 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:ID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier for an entry </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="atom:textType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human-readable title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updated" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last modified Date and Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="atom:personType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Author of the entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="atom:categoryType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Associated category</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="content" type="atom:contentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Content of the entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contributor" type="atom:personType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A person or other entity who contributed to the entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="link" type="atom:linkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The "atom:link" element defines a reference from an entry to a Web resource. 
					</xs:documentation>
                </xs:annotation>
			</xs:element>
			<xs:element name="published" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rights" type="atom:textType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Information about rights</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="atom:textType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
                        atom:source is used to preserve metadata of a feed when an entry is copied from a feed to another feed.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="summary" type="atom:textType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" />
	</xs:complexType>

	<xs:complexType name="textType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The Atom text construct is defined in section 3.1 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" >
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="text"/>
					<xs:enumeration value="html"/>
					<xs:enumeration value="xhtml"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation>
				The Atom person construct is defined in section 3.2 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human-readable name for the person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>IRI associated with the person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="atom:emailType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>E-mail address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="emailType">
		<xs:annotation>
			<xs:documentation>
				Schema definition for an email address.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\w+@(\w+\.)+\w+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="contentType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The Atom content construct is defined in section 4.1.3 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="src" type="xs:anyURI"/>
	</xs:complexType>

	<xs:complexType name="categoryType">
		<xs:annotation>
			<xs:documentation>
				The Atom cagegory construct is defined in section 4.2.2 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="scheme" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>An IRI that identifies a categorization scheme</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="term" type="xs:string">
			<xs:annotation>
				<xs:documentation>The "term" attribute is a string that identifies the category</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string">
			<xs:annotation>
				<xs:documentation>A human-readable label for display in end-user applications.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="generatorType">
		<xs:annotation>
			<xs:documentation>
				The Atom generator element is defined in section 4.2.4 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="uri" use="optional" type="xs:anyURI" />
				<xs:attribute name="version" use="optional" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="linkType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The Atom link construct is defined in section 3.4 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" use="required" type="xs:anyURI" />
		<xs:attribute name="rel" use="optional" type="xs:string"/>
		<xs:attribute name="type" use="optional" type="xs:string" />
		<xs:attribute name="hreflang" use="optional" type="xs:NMTOKEN" />
		<xs:attribute name="title" use="optional" type="xs:string" />
		<xs:attribute name="length" use="optional" type="xs:positiveInteger" />
	</xs:complexType>

	<xs:simpleType name="KnownRelCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="alternate">
				<xs:annotation>
				<xs:documentation>The value "alternate" signifies that the IRI in the value of the href attribute identifies an alternate version of the resource described by the containing element.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="related">
				<xs:annotation>
				<xs:documentation>The value "related" signifies that the IRI in the value of the href attribute identifies a resource related to the resource described by the containing element. For example, the feed for a site that discusses the performance of the search engine at "http://search.example.com" might contain, as a child of atom:feed. An identical link might appear as a child of any atom:entry whose content contains a discussion of that same search engine.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="self">
				<xs:annotation>
				<xs:documentation>The value "self" signifies that the IRI in the value of the href attribute identifies a resource equivalent to the containing element.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="enclosure">
				<xs:annotation>
				<xs:documentation>The value "enclosure" signifies that the IRI in the value of the href attribute identifies a related resource that is potentially large in size and might require special handling. For atom:link elements with rel="enclosure", the length attribute SHOULD be provided.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="via">
				<xs:annotation>
				<xs:documentation>The value "via" signifies that the IRI in the value of the href attribute identifies a resource that is the source of the information provided in the containing element.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>